{% extends 'base.html' %}
{% load static %} 


{% block style %}
  <style>
    .side-image {background-image: url('{% static "/img/cat.jpeg" %}');}
  </style>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image "> </div>
            <div class="col-md-6 right">
                <div class="input-box">
                    {% block form_place %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block foot %}
 <div class="d-flex flex-column flex-sm-row justify-content-sm-around justify-content-center py-4 border-top position-relative" style="background-color: #7ECBBC;">
{% endblock %}