{% extends "registration/base.html" %}
{% load widget_tweaks %}

{% block form_place %}

    <header>Вход</header>

    <div class="login-form">
        <form action="{% url 'app:login' %}" method="post">
            {% csrf_token %}

            {% render_field form.username placeholder="Логин" class="form-control"%}
            <p></p> 
            {% render_field form.password placeholder="Пароль" class="form-control"%} 

            <input type="hidden" name="next" value="{{ next }}" />
            <p></p>
            <div class="input-field"> 
                <input type="submit" class="submit" value="Войдите">
            </div>
                                    
            {% if form.errors %}
                <div class="toast-container" style="position: fixed; bottom: 15px; left: 15px;">
                    <div class="toast fade show">
                        <div class="toast-header">
                            <strong class="me-auto"><i class="bi-globe"></i> Ошибка входа </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                        </div>
                        <div class="toast-body bg-light" style="color:#9F2435">
                                {{ form.non_field_errors }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>

    <div class="signin"> 
        <span> У вас нет аккаунта? - <a href="/register"> Зарегистрируйтесь</a></span> 
    </div>

{% endblock %}