{% extends 'base.html' %}
{% load static %} 
 {% load widget_tweaks %}


{% block style %}
    <style>
    .side-image {background-image: url('{% static "/img/cat.jpeg" %}');}
    </style>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image "> </div>
                <div class="col-md-6 right">
                    <div class="input-box">
                        <header>Login</header>
                        <div class="login-form">
                            <form action="{% url 'app:login' %}" method="post">
                                {% csrf_token %}
                                {% render_field form.username placeholder="Username" class="form-control"%}
                                <span class="help-block text-danger" >{{ form.username.errors }}</span>
                                <p></p> 
                                {% render_field form.password placeholder="Password" class="form-control"%} 

                                <input type="hidden" name="next" value="{{ next }}" />
                                <p></p>
                                <div class="input-field"> <input type="submit" class="submit" value="Sign Up">
                                </div>
                                {% if form.errors %}
                                <span class="help-block text-danger" > {{ form.non_field_errors }}
                                {% endif %}
                            </form>
                        </div>
                        <div class="signin"> <span> No uno <a href="/register">in here</a></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}