{% extends "registration/base.html" %}
{% load widget_tweaks %}


{% block form_place %}
    <header>Смена пароля</header>

    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
        {% for field in form.visible_fields %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            <p></p>
        {% endfor %}
        </div>

        {% if form.errors %}
            <div class="toast-container" style="position: fixed; bottom: 15px; left: 15px;">
                <div class="toast fade show">
                    <div class="toast-header">
                        <strong class="me-auto"><i class="bi-globe"></i> Ошибка смены пароля </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body bg-light text-danger">
                        <span class="help-block">{{ form.errors }}</span>
                    </div>
                </div>
            </div>
        {% endif %} 

        <div class="input-field"> <input type="submit" class="submit" value="Сменить пароль">
    </form>



    <div class="signin"> 
        <span><a href="/profile"> Вернуться в личный кабинет </a></span> 
    </div>

{% endblock %}
