{% extends "registration/base.html" %}
{% load widget_tweaks %}

{% block form_place %}

    <header>Регистрация</header>

    <form method="POST">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="form-group">
            {% render_field form.first_name placeholder="Имя" class="form-control"%}
            <p></p>
            {% render_field form.last_name placeholder="Фамилия" class="form-control"%}
            <p></p>
            {% render_field form.email placeholder="Email" class="form-control"%}
            <p></p>
            {% render_field form.username placeholder="Придумайте логин" class="form-control"%}
            <p></p>
            {% render_field form.password1 placeholder="Пароль" class="form-control"%}
            <p></p>
            {% render_field form.password2 placeholder="Подтверждение пароля" class="form-control"%}
        </div>
        <p></p>
              
        {% if form.errors %}
            <div class="toast-container" style="position: fixed; bottom: 15px; left: 15px;">
                <div class="toast fade show">
                    <div class="toast-header">
                        <strong class="me-auto"><i class="bi-globe"></i> Ошибка регистрации </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body bg-light text-danger">
                        <span class="help-block">{{ form.errors }}</span>
                    </div>
                </div>
            </div>
        {% endif %} 

        <div class="input-field"> <input type="submit" class="submit" value=" Регистрация ">
    
    </form>

    <div class="signin"> 
        <span> У вас есть аккаунт? - <a href="/login"> Войдите </a></span> 
    </div>
{% endblock%}
